body {
  background-color: #000;
  margin: 20px;
}

.yellowblock {
  background-color: #ffa500;
  border: 1px solid #e95d49;
  padding: 10px;
}

.blueblock {
  padding: 10px ;
  width: 350px;
  border: #e95d49 solid 1px;
  background-color: #308dc0;
}

.block {
  box-sizing: border-box;
}

.middleblock {
  margin-top: 40px;
  margin-bottom: 40px;
}

.grayblock {
  text-align: left;
  padding: 10px;
  background-color: #ddd;
  border: #e95d49 solid 1px;
}

/* .border {
  border: 1px solid #e95d49;
   
} */
